    :root {
        --color-1: rgb(164, 111, 229);
        --color-2: #a78bfa;
        --font-text: "cormorant garamond", serif;
        --font-title: "Imperial Script", cursive;
        --scroll-animation-duration: 0.5s;
    }

    body {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        text-align: center;
        background-color: white;
        font-family: 'cormorant garamond';
        font-style: italic;
    }
    #envelope {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        perspective: 1000px;
        z-index: 10;
    }
    #envelope:hover {
        transform: scale(1.05);
    }
    /* Parte superior del sobre (solapa) */
    #envelope-top {
        top: 0;
        border-bottom: none;
    }
    /* Parte inferior del sobre (cuerpo) */
    #envelope-bottom {
        bottom: 0;
        border-top: none;
    }
    #envelope-top, #envelope-bottom {
        position: absolute;
        width: 100%;
        height: 50%;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        background-image: url(/Imagenes/envelope.png);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.216);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    /* Sello del sobre */
    #seal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 275px;
        width: 280px;
        background-image: url(/imagenes/seal.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: opacity 1s ease-in-out;
        z-index: 11;
        text-align: center;
        flex-direction: column;
    }
    #seal h2 {
        margin: 0;
        font-family: var(--font-title);
        font-weight: 400;
        font-style: italic;
        z-index: 12;
        position: relative;
        font-size: 36px;
        background: linear-gradient(90deg, #7c3aed,#a78bfa,#ddd6fe,#a78bfa, #7c3aed);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; /* Safari/iOS */
        color: transparent; /* fallback */  
        padding: 5px;
        text-shadow: 0 0 0.04em rgba(122, 49, 208, 0.25), 0 0.03em 0.1em rgba(0,0,0,0.12);
    }
    #seal h2 {
        background-size: 200% auto;
        animation: shine 4s linear infinite;
    }
    @keyframes shine {
        from { background-position: 0% center; }
        to   { background-position: 200% center; }
    }
    #invitacion {
        display: none;
        background: transparent;
        max-width: 800px;
        width: 100%;
        box-sizing: border-box;
    }
/* ===== PORTADA ===== */
.portada {
    position: relative;
    width: 100%;
    height: 100vh; /* Pantalla completa */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .fondo-portada {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Mariposas */
  .mariposa {
    position: absolute;
    width: 120px; /* tamaño móvil */
    animation: vuelo 6s ease-in-out infinite;
    pointer-events: none;
}
  .mariposa.izq { 
    left: -5%; 
    top: 40%; 
}
  .mariposa.der { 
    right: -5%; 
    top: 35%; 
}
/* Estilo plateado */
.texto-portada h1,
.texto-portada h2,
.texto-portada h3 {
    font-family: var(--font-title);
    font-weight: 500;
    font-style: italic;
    margin: 0;
    padding: 0;
    margin: 0;               /* eliminamos márgenes que separan demasiado */
    line-height: 1;        /* reduce espacio entre líneas */
    /* Plateado más fuerte y contrastante */
  background: linear-gradient(90deg, #ffffff, #faf2ff, #d1d1d1, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  /* Sombras para contraste sobre lila */
  text-shadow: 
    2px 2px 4px rgba(0,0,0,0.7),   /* sombra fuerte negra */
    0 0 8px rgba(255,255,255,0.3); /* halo suave para efecto metálico */
    animation: shine 4s linear infinite;
}
  /* Tamaños diferentes */
  .texto-portada {
    position: absolute;
    top: 80%; /* baja todo el bloque */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  .texto-portada h1 {
    font-size: 40px; /* "Mis Quince" */
    margin: 0; /* margen inferior normal */
  }
  .texto-portada h2 {
    font-size: 70px; /* "Madeline" */
    margin: 0;
  }
  .texto-portada h3 {
    font-size: 70px; /* "Sofía" */
    margin: 0;
  }
  .portada {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
/* ===== AGRADECIMIENTO ===== */
.agradecimiento, .section-gifts, .section-quote{
    position: relative;
    width: 100%;
    height: 100vh; /* pantalla completa */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
  }
  /* Fondo fijo detrás */
  .fondo-agradecimiento, .fondo-rsvp, .fondo-gifts, .fondo-deseos{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* siempre detrás */
  }
  /* Mariposa central animada */
  .mariposa-centro {
    width: 100px;
    animation: vuelo-centro 6s ease-in-out infinite;
    z-index: 1;
    margin-top: -50px;
  }
  /* Texto plateado encima */
  .texto-agradecimiento {
    z-index: 2;
  }
  .texto-agradecimiento p,
  .texto-agradecimiento h2 {
    font-family: var(--font-title);
    font-style: italic;
    margin: 0;
    line-height: 0.9;
  }
  /* Diferencia de tamaños */
  .texto-agradecimiento p {
    font-size: 25px;
    margin-bottom: 15px;
    color: var(--color-1);
  }
  .texto-agradecimiento h2 {
    font-weight: 400;
    font-size: 60px;
    margin: 10px 0;
    padding: 10px;
    background: rgb(164, 111, 229);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: 2px 2px 4px #9c02fc4d, 0 0 8px rgba(255, 255, 255, 0.6);
}
.section-countdown {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}
/* Fondo ocupa toda la sección */
.fondo-countdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
.section-countdown h1 {
    font-family: var(--font-title);
    font-size: 60px;
    font-weight: 400;
    font-style: italic;
    margin-top: -150px;
    padding: 10px;
    background: rgb(248 243 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: 2px 2px 4px #9c02fc4d, 0 0 8px rgba(255, 255, 255, 0.6);
    animation: shine 4s linear infinite;
}
.section-countdown p {
    margin: 0;
    color: var(--color-1);
    font-family: var(--font-text);
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    padding: 7px;
    margin-top: -45px;
}
.section-countdown h2{
    padding: 10px;
      /* Animación */
  animation: shine 4s linear infinite;
    font-family: var(--font-text);
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    padding: 5px;
    margin: 0;
    background: rgb(164, 111, 229);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: 2px 2px 4px #9c02fc4d, 0 0 8px rgba(255, 255, 255, 0.6);
}
.section-music h2{
    padding: 10px;
      /* Animación */
  animation: shine 4s linear infinite;
font-family: var(--font-text);
font-size: 20px;
font-weight: 400;
font-style: italic;
padding: 5px;
margin: 0;
background: rgb(139 56 255);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: transparent;
text-shadow: 2px 2px 4px #9c02fc4d, 0 0 8px rgba(255, 255, 255, 0.6);
}
#contador{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
}
.countdown-circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #d8b4fea3, #c4b5fd96, #a98ff58c);
    border: 1px solid rgba(255,255,255,0.5);
}
.countdown-circle span {
    font-size: 1em;
    color: white;
    font-weight: 400;
    padding: 0;
    font-family: var(--font-text);
    font-style: italic;
}
.section-calendar{
    margin-top: 10px;
    margin-bottom: 20px;
}
.section-calendar a {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 20px;
    font-family: var(--font-text);
    font-style: italic;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    /* Fondo degradado plateado-lila */
    background: linear-gradient(90deg, #d8b4fea3, #c4b5fd96, #a98ff58c);
    /* Bordes y forma */
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.5);
    /* Sombras */
    transition: all 0.3s ease;
  }
  /* Hover: un poco más brillante y grande */
  .section-calendar a:hover {
    background: linear-gradient(90deg, #d8b4fea3, #c4b5fd96, #a98ff58c);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.4),
                inset 0 0 8px rgba(255,255,255,0.6);
  }
/* Mariposas del countdown */
.mariposa.izq-countdown { 
    position: absolute;
    left: -5%;
    bottom: 0%; /* un poco más arriba del borde */
    width: 150px;
    animation: vuelo 6s ease-in-out infinite;
    pointer-events: none;
  }
.mariposa.der-countdown { 
    position: absolute;
    right: -5%;
    top: 80%;
    width: 150px;
    animation: vuelo 7s ease-in-out infinite;
    pointer-events: none;
  }
  /* ===== BENDICIÓN DE PADRES ===== */
  .bendicion {
    position: relative;
    width: 100%;
    min-height: 100vh; /* al menos pantalla completa */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }  
  
  /* Fondo */
  .fondo-bendicion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* asegura que llene el área sin deformarse */
    z-index: -1;
  }
  
  /* Texto */
  .texto-bendicion {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: white; /* color base por si no aplicás gradiente */
    max-width: 800px;
  }
  /* Texto */
  .texto-bendicion p {
    font-family: var(--font-text);
    font-size: 23px;
    font-style: italic;
    color:var(--color-1);
    padding: 10px;
    margin-top: 210px;
  }
  .texto-bendicion h1,
  .texto-bendicion h2{
    font-family: var(--font-title);
    font-weight: 400;
    margin: 10px 0;
    background: rgb(139 56 255);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: transparent;
text-shadow: 2px 2px 4px #9c02fc4d, 0 0 8px rgba(255, 255, 255, 0.6);
  }
  .texto-bendicion h3 {
    font-family: var(--font-title);
    font-weight: 400;
    margin: 10px 0;
    background: rgb(139 56 255);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: transparent;
text-shadow: 2px 2px 4px #9c02fc4d, 0 0 8px rgba(255, 255, 255, 0.6);
  }
  .texto-bendicion h1, .texto-bendicion h3 {
    font-size: 50px;
    margin-bottom: 0;
  }
    .texto-bendicion h2 {
        font-size: 30px;
        margin-top: 0;
    }
  /* Resaltado del nombre */
  .texto-bendicion .resaltado {
  animation: shine 4s linear infinite;
  font-size: 27px;
  background: rgb(139 56 255);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: transparent;
text-shadow: 2px 2px 4px #9c02fc4d, 0 0 8px rgba(255, 255, 255, 0.6);
  }
  
  /* Animación de brillo metálico */
@keyframes shine {
    from { background-position: 0% center; }
    to   { background-position: 200% center; }
  }
  /* Animación de mariposa */
  @keyframes vuelo-centro {
    0%, 100% { transform: translateY(0) rotate(0deg) scale(1); }
    50% { transform: translateY(-20px) rotate(5deg) scale(1.05); }
  }  
  @keyframes suave {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
  }
  @keyframes vuelo {
    0%, 100% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-30px) rotate(5deg); }
  }
  /* Responsivo */
  @media (min-width: 768px) {
    .mariposa { width: 180px; }
  }
  @media (min-width: 1024px) {
    .mariposa { width: 220px; }
  }
    /* Responsivo */
@media (min-width: 768px) {
        .mariposa.izq-countdown,
        .mariposa.der-countdown {
          width: 180px;
        }
      }
@media (min-width: 1024px) {
        .mariposa.izq-countdown,
        .mariposa.der-countdown {
          width: 220px;
        }
      }
    .section-guest {
        position: relative;
        width: 100%;
        min-height: 60vh;
        text-align: center;
        background-color: #7d6c97;
      }
      .guest-h1, .guest-h3 {
        position: relative;
        display: inline-block;
        margin: 20px 0;
      }
      .mariposa-invitacion {
        position: absolute;
        width: 110px;
        top: 45%;
        transform: translateY(-50%);
        animation: vuelo 6s ease-in-out infinite;
        pointer-events: none;
      }
      .mariposa-invitacion.izq { left: -10px; }
      .mariposa-invitacion.der { right: -80px; }
      
      .section-guest h1, 
      .section-guest h2, 
      .section-guest h3 {
        font-family: var(--font-title);
        font-size: 50px;
        margin: 10px 0;
        background: linear-gradient(90deg, #fff, #d1d1d1, #faf2ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
      }
      .fondo-itinerario {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;     /* quita esto */
        min-height: 100%; /* asegura cubrir */
        object-fit: cover;
        z-index: -1;
      }
      .section {
        position: relative;
        width: 100%;
        min-height: 100vh;   /* al menos pantalla completa */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }
      
    .section-main {
        position: relative;
        margin: 0;
        padding: 0;
        transform: translateY(20px);
        animation: fadeIn var(--scroll-animation-duration) ease-in forwards;
    }
    .section-quote h1 {
        font-family: var(--font-title);
        padding: 15px;
        font-weight: 400;
        font-style: italic;
        font-size: 40px;
        margin-top: -10px;
        margin-bottom: -10px;
        padding: 20px;
      animation: shine 4s linear infinite;
      background: rgb(139 56 255);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      text-shadow: 2px 2px 4px #9c02fc4d, 0 0 8px rgba(255, 255, 255, 0.6);
      margin-bottom: -10px;
          margin-top: -35px;
          padding: 5px;
          font-weight: 400;
    }
    .section-main h2 {
        top: 18%;
        font-size: 50px;
    }
    .section-guest h1{
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        font-family: var(--font-title);
        font-size: 50px;
        font-weight: 400;
        font-style: italic;
        padding: 30px;
        margin: 0;
        background-color: #7e6d97;
        color: lavender;
    }
    .section-guest h2 {
        display: block;                  /* ocupa toda la fila */
        background-color: #a491dcac;       /* lila muy claro */
        color: white;                  /* morado fuerte para contraste */
        padding: 20px 20px;
        font-family: var(--font-title);
        font-size: 55px;
        font-weight: 400;
        margin-top: -5px;
    }
    .section-guest h3 {
        display: block;                  /* ocupa toda la fila */
        background-color: #a595d7;       /* lila muy claro */
        color: white;                  /* morado fuerte para contraste */
        padding: 20px 20px;
        font-family: var(--font-title);
        font-size: 50px;    
        margin-top: -50px;
        font-weight: 400;
    }
    /* Fondo dresscode */
.fondo-dresscode {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  /* Contenedor específico */
  .dresscode {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;   /* centra vertical */
    justify-content: center; /* centra horizontal */
    text-align: center;
  }
  
  /* Texto dresscode */
  .texto-dresscode {
    max-width: 800px;
    z-index: 1; /* asegura que quede encima del fondo */
  }
  
  .texto-dresscode h2 {
    font-family: var(--font-title);
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: -70px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.216), rgb(0 0 0 / 39%), rgba(0, 0, 0, 0.216));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 0 0 8px rgba(255, 255, 255, 0.3);
    animation: shine 4s linear infinite;
  }
  .section h2, .section-gifts h2{
    font-family: var(--font-title);
    font-size: 50px;
    animation: shine 4s linear infinite;
    background: rgb(139 56 255);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: transparent;
text-shadow: 2px 2px 4px #9c02fc4d, 0 0 8px rgba(255, 255, 255, 0.6);
margin-bottom: -10px;
    margin-top: -35px;
    padding: 5px;
    font-weight: 400;
  }
  .texto-dresscode p {
    font-family: var(--font-text);
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    padding: 5px;
    margin: 0;
    color: var(--color-1);
    margin-top: -20px;
  }
  .section p {
    font-family: var(--font-text);
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    padding: 5px;
    margin: 0;
    color: var(--color-1);
  }
.section h3{
        font-family: var(--font-title);
        padding: 15px;
        font-weight: 400;
        font-style: italic;
        font-size: 50px;
        margin-top: -10px;
        margin-bottom: -10px;
      animation: shine 4s linear infinite;
      background: rgb(248 243 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: 2px 2px 4px #9c02fc4d, 0 0 8px rgba(255, 255, 255, 0.6);
    animation: shine 4s linear infinite;
    }
    .section-gifts p{
        font-family: var(--font-text);
        font-style: italic;
        font-weight: 400;
        font-size: 22px;
        padding: 5px;
        margin: 0;
        color: var(--color-1);
    }
    .section span{
        font-family: var(--font-text);
        font-style: normal;
        font-weight: 400;
        font-size: 1.2em;
        color: var(--color-1);
        padding: 0;
        margin: 0;
    }
    .icon {
        padding: 0;
        margin: 0;
    }
    .icon img {
        width: 50%;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    button {
        border-radius: 5px;
        font-family: var(--font-text);
        padding: 10px;
        border: none;
        font-size: 1em;
        text-transform: none;
        margin-bottom: 20px;
        font-style: italic;
        font-size: 1.2em;   color: #fff;
        /* Fondo degradado plateado-lila */
        background: linear-gradient(90deg, #d8b4fea3, #c4b5fd96, #a98ff58c);
        /* Bordes y forma */
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,0.5);
        /* Sombras */
        transition: all 0.3s ease;
      }
    button:hover {
        background: linear-gradient(90deg, #d8b4fea3, #c4b5fd96, #a98ff58c);
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0,0,0,0.4);
    }
    footer {
        padding: 20px;
        background-color: #7d6c97;
        color: white;
        font-size: var(--footer-font-size);
        width: 100%;
        box-sizing: border-box;
    }
    .section-social-icons {
        padding: 20px;
    }
    .section-social-icons a {
        color: white;
        margin: 0 10px;
        text-decoration:none;
    }
    .section-social-icons i{
        font-size: 35px;
    }
    .section-logo img{
        margin-top: 0px;
    }
    /* Media Queries */
    @media (min-width: 768px) and (max-width: 1022px) {
        /* iPad Styles */
        .seal{
            width: 200px;
            height: 200px;
            }
        .sealh h2{
                font-size: 60px;
        }
        .section-countdown h1,
        .section-countdown h2,
        .section-b h1,
        h1,
        .section h2,
        .section h3 {
            font-size: 2.5em;
        }

        .section p,
        .section-countdown p{
            font-size: 1.5em;
        }
    }
    @media (min-width: 1025px) {
        /* Laptop Styles */
        .seal{
        width: 200px;
        height: 200px;
        }
        .sealh h2{
            font-size: 60px;
        }
        .sintillo{
            height: 500px;
            margin-bottom: -80px;
        }
        .sintillo h1{
            font-size: 120px;
            margin-top: 10px;
        }
        .sintillo h2{
            font-size: 150px;
            margin-top: 280px;
        }
        .section-music{
            margin-top: -90px;
            height: 500px;
        }
        .section-music h2{
            font-size: 50px;
        }
        .section-countdown h1,
        .section-countdown h2,
        .section-b h1,
        h1,
        .section h2,
        .section h3 {
            font-size: 3em;
        }
        .section p,
        .section-countdown p, .section-b p{
            font-size: 1.8em;
        }
        .countdown-circle{
            height: 180px;
            width: 180px;
        }
        .countdown-circle span{
            font-size: 50px;
        }
        .section-quote{
            padding: 10px;
        }
        .section-social-icons i{
            font-size: 55px;
            margin-top: 10px;
        }
        .section-logo img{
            margin-top: 0px;
        }
    }
    #wishes-section {
        font-family: var(--font-text);
    }
    
    #wishes-section h2 {
        font-family: var(--font-title);
        padding: 15px;
        font-weight: 400;
        font-style: italic;
        font-size: 50px;
        margin-top: -10px;
        margin-bottom: -10px;
        background: rgb(139 56 255);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 2px 2px 4px #9c02fc4d, 0 0 8px rgba(255, 255, 255, 0.6);
        margin-bottom: -10px;
            margin-top: -35px;
            padding: 5px;
            font-weight: 400;
    }
    
    #wishes-container {
        margin: 20px auto;
        max-width: 600px;
        text-align: left;
    }
    
    #wishes-container p {
        background: #fff;
        color: var(--color-1);
        padding: 10px 15px;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    
    #wish-form input,
    #wish-form textarea {
        width: 90%;
        margin: 10px 0;
        padding: 10px;
        font-family: var(--font-text);
        font-style: italic;
        border-radius: 8px;
        border: 1px solid #ccc;
    }
    
    #wish-form textarea {
        min-height: 100px;
        resize: vertical;
    }

    .hidden {
        display: none;
    }
    
    .visible {
        display: block;
    }
    #wishes-section {
        position: relative;
        width: 100%;
        min-height: 100vh;  /* ocupa toda la pantalla como mínimo */
        display: flex;
        align-items: center;
        justify-content: flex-start; /* para que el contenido vaya de arriba hacia abajo */
        flex-direction: column;
        text-align: center;
        overflow: visible;  /* deja que crezca */
      }
      .section-quote {
        position: relative;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 100vh;     /* asegura un mínimo bonito, pero no ocupa toda la pantalla */
      }
      
      .fondo-final {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }

/* Contenedor */
#twinkles {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9;
    overflow: hidden;
  }
  
  /* Brillitos pequeños */
  .twinkle {
    position: absolute;
    width: 8px;   /* mucho más pequeño */
    height: 8px;
    opacity: 0;
    transform: scale(0) rotate(45deg);
    animation: twinklePulse 3s ease-in-out infinite;
  }
  
  /* Lineas finitas estilo diamante */
  .twinkle::before,
  .twinkle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.95);
    border-radius: 1px;
  }
  
  /* vertical */
  .twinkle::before {
    width: 1px;
    height: 14px;  /* más largo para parecer brillo */
  }
  
  /* horizontal */
  .twinkle::after {
    width: 14px;
    height: 1px;
  }
  
  /* Animación */
  @keyframes twinklePulse {
    0%, 100% {
      opacity: 0;
      transform: scale(0) rotate(45deg);
    }
    40% {
      opacity: 1;
      transform: scale(1.1) rotate(45deg);
    }
    60% {
      opacity: 0.8;
      transform: scale(0.9) rotate(45deg);
    }
  }
  @keyframes spinTwinkle {
    0% { transform: rotate(0deg) scale(0.8); opacity: 0; }
    50% { transform: rotate(180deg) scale(1.1); opacity: 1; }
    100% { transform: rotate(360deg) scale(0.8); opacity: 0; }
  }
  
  .twinkle.spin {
    animation: spinTwinkle 5s ease-in-out infinite;
  }
  @keyframes float {
    0%, 100% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-15px) rotate(3deg); }
  }
  
  .mariposa {
    animation: float 6s ease-in-out infinite;
  }
  @keyframes shine-move {
    from { background-position: -200% center; }
    to   { background-position: 200% center; }
  }
  
  .shiny-text {
    background: linear-gradient(90deg, #ffffff, #d1c4e9, #ffffff);
    background-size: 200%; /* necesario para el movimiento */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: shine-move 4s linear infinite;
    font-style: italic; /* opcional, si querés mantener elegancia */
  }

      